__pycache__
env
utils/__pycache__
try.py 
.DS_Store
data.csv
.ipynb_checkpoints
.ipynb_checkpoints/model-ipynb_checkpoints
.vscode
svm_model.pkl
svm_model_rbf.pkl
svm_model_poly.pkl
model-Copy1.ipynb
.python-version